{% load static i18n %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html class="no-js" lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{% trans 'Smart Traffic Project' %}</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="{% static 'smwebsite/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'smwebsite/images/smarttrafficlogoicon.ico' %}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static 'smwebsite/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'smwebsite/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'smwebsite/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'smwebsite/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'smwebsite/css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'smwebsite/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'smwebsite/style.css' %}">
    <link rel="stylesheet" href="{% static 'smwebsite/css/responsive.css' %}">
    <script src="{% static 'smwebsite/main.js' %}"></script>
    <script src="{% static 'smwebsite/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Fancybox -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>

            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="50">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand logo">
                    <img src="{% static 'smwebsite/images/logos/smarttrafficLogo.png' %}" alt="">
                </a>
            </div>
            <!--Logo/-->
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#objective-section">{% trans 'Project' %}</a></li>
                    <li><a href="#feature-section">{% trans 'Features' %}</a></li>
                    <li><a href="#contribution-section">{% trans 'Contribute' %}</a></li>
                    <li><a href="#blog-page">Blog</a></li>
                    <li><a href="#contact-page">{% trans 'Contact Us' %}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Mainmenu-area/-->

        {% comment %} SMARTPARKING CHANGES HERE.... {% endcomment %}

    <!--Header-area-->
    <header class="header-area overlay medium-height relative v-center" id="header-area-smartparking">
        <div class="absolute"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text-usecase">
                    <h1>SmartParking</h1>
                    <p>{% trans 'Improving congestion by helping the user find a place to park' %}</p>
                    <!--<a href="#" class="button white">Watch video</a>-->
                </div>
                <!-- Aca se podria poner las imagenes de las instituciones por ejemplo... y que vaya girando-->
                <div class="hidden-xs hidden-sm col-md-5 text-right">
                </div>
            </div>
        </div>
    </header>
    <!--Header-area/-->



<!--SE VAN DETALLANDO MAS ABAJO LAS SECCIONES DIVIDIDAS EN PAGINAS, PARA SALTOS...(team, institutions,etc...)-->

    <!--TODO: Agregar una seccion de justificacion del caso de uso-->



    <!--Use case objective section-->
    <section class="gray-bg section-padding" id="objective-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title">
                        <div class="text-center">
                            <h2>{% trans 'SmartParking application' %}</h2>
                        </div>
                        <p>
                            {% trans 'Asunción enters about one and a half million people daily for different reasons. The impossibility of the road network to meet the demand that this massive mobilization entails generates several problems related to the low average speed of travel (approximately 15 km/h), a high stress and loss of time in the population that moves, increasing the fuel consumption and the consequent increase in the emission of toxic agents.' %}
                        </p>
                        <h3>{% trans 'Primary Goal' %}</h3>
                        <ul>
                            <li>
                                <p>
                                    {% trans 'Design a mobile application that facilitates the search for well-defined parking places and enabled by the relevant authorities' %}
                                </p>
                            </li>
                        </ul>
                        <h4>{% trans 'Benefits' %}</h4>
                        <ul>
                                <li>
                                    <p>
                                        {% trans 'It will benefit people in terms of saving fuel and time' %}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        {% trans 'It is considered that 30% of the traffic congestion in an area is generated by people in search of a place to park' %}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        {% trans 'Experts indicate parking collapse in Asunción, if this problem is not addressed as soon as possible' %}
                                    </p>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>{% trans 'Specific Goals' %}</h3>
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <ul>
                                <li>
                                    <p>
                                        {% trans 'Study of the techniques and strategies to be used in the implementation of systems focused on solving parking place problems' %}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        {% trans 'Design of a solution focused on the problem of parking spot search' %}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        {% trans 'Implementation of the previously designed solution' %}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Use case objective section/-->

    <section class="gray-bg section-padding" id="feature-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title">
                        <h2>{% trans 'Main features' %}</h2>
                        <p>{% trans 'What does SmartParking offer us?' %} </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-screenshot">
                            <img src="{% static 'smwebsite/images/smartparking/spotsSP1.jpg' %}" alt="">
                        </div>
                        <h3>{% trans 'Map of registered places' %}</h3>
                        <p>{% trans 'Provides the user with important information of the distribution of the parking spots in the parking lot.' %}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-screenshot">
                            <img src="{% static 'smwebsite/images/smartparking/entradAPredioSP.jpg' %}" alt="">
                        </div>
                        <h3>{% trans 'Proximity Notifications' %}</h3>
                        <p>{% trans 'SmartParking notifies us when we approach a property registered in the system.' %}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-screenshot">
                            <img src="{% static 'smwebsite/images/smartparking/spotsSP.jpg' %}" alt="">
                        </div>
                        <h3>{% trans 'Availability of parking spaces' %}</h3>
                        <p>{% trans 'The system details the availability of parking spaces of a registered property.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% comment %} 
        Experiment section
    {% endcomment %}

    {% comment %} <section class="gray-bg section-padding" id="experiment-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title">
                        <h2>{% trans 'Participate in our experiment' %}</h2>
                        <p>{% trans 'We are conducting an experiment to evaluate Smart Parking! If you want to participate press the following button that will redirect you to our form' %} 
                        </p>
                        <p>{% trans 'The experiment is carried out only with students of the Catholic University of Asunción who attend the Santa Librada campus' %} 
                        </p>
                        <a target="_blank" href="{% url 'smartparkingforms' %}" class="button">{% trans 'Go to the form' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}


<!--Contribution open source code repo. it has support for a background image similar to the background header image-->
    <section class="gray-bg section-padding" id="contribution-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title">
                        <h2>{% trans 'Contribute' %}</h2>
                        <p>{% trans 'SmartParking is an open source project hosted in Github, feel free to contribute' %}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="price-table">
                        <h3 class="text-uppercase price-title">Front end</h3>
                        <p>
                            {% trans 'The project is develop for Android devices' %}
                        </p>
                        <a target="_blank" href="https://github.com/SmartTrafficPY/smartparking" class="button">{% trans 'Repository' %}</a>
                    </div>
                    <div class="price-table">
                        <h3 class="text-uppercase price-title">Back end</h3>
                        <p>
                            {% trans 'Work with a Django server, a Postgresql database and a map server based on CartoDB' %}
                        </p>
                        <a target="_blank" href="https://github.com/SmartTrafficPY/smartcity-asuncion" class="button">{% trans 'Repository' %}</a>
                    </div>
            </div>
        </div>
    </section>


    <section class="testimonial-area section-padding gray-bg overlay" id="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title">
                        <h2>Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-foto">
                            <a data-fancybox="gallery" href="{% static 'smwebsite/images/dissemination/20200226-PresentacionFinalCarrera/Team(big).jpg' %}"><img src="{% static 'smwebsite/images/dissemination/20200226-PresentacionFinalCarrera/Team(small).jpg' %}"></a>
                        </div>
                        <div class="blog-content">
                            <h3>{% trans 'Final presentation' %}</h3>
                            <ul class="blog-meta">
                                <!--                                <li><span class="ti-user"></span> <a href="#">Admin</a></li>-->
                                <li><span class="ti-calendar"></span>Feb 26, 2020</li>
                            </ul>
                            <p>{% trans 'Junior researchers are finally computer engineers after defending their respective thesis'%} </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-foto">
                            <a data-fancybox="gallery" href="{% static 'smwebsite\images\dissemination\20191004-premiosUCarpooling\jbl_ganador(big).jpg' %}"><img src="{% static 'smwebsite\images\dissemination\20191004-premiosUCarpooling\jbl_ganador(small).jpg' %}"></a>
                        </div>
                        <div class="blog-content">
                            <h3>{% trans 'UCarpooling awards' %}</h3>
                            <ul class="blog-meta">
                                <!--                                <li><span class="ti-user"></span> <a href="#">Admin</a></li>-->
                                <li><span class="ti-calendar"></span>Oct 4, 2019</li>
                            </ul>
                            <p>{% trans 'Winners of the UCarpooling experience raffle were awarded'%} </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog">
                        <div class="blog-foto">
                            <a data-fancybox="gallery" href="{% static 'smwebsite\images\dissemination\20190725-presentMoni\moni-presentacio(big).jpg' %}"><img src="{% static 'smwebsite\images\dissemination\20190725-presentMoni\moni-presentacio(small).jpg' %}"></a>
                            <!-- <img src="{% static 'smwebsite\images\dissemination\20190725-presentMoni\moni-presentacion.jpg' %}" alt=""> -->
                        </div>
                        <div class="blog-content">
                            <h3>{% trans 'First presentation SmartMoving' %}</h3>
                            <ul class="blog-meta">
                                <!--                                <li><span class="ti-user"></span> <a href="#">Admin</a></li>-->
                                <li><span class="ti-calendar"></span>Jul 24, 2019</li>
                            </ul>
                            <p>{% trans 'Junior researcher Monica Fatecha gave her first presentation of her final project of the Catholic University "Nuestra Señora de la Asunción" for Computer Engineering. The presentation was one of the use cases of the project entitled "SmartMoving: Application to collect information on the state of the sidewalks and recommend roads to pedestrians with reduced mobility" '%} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="button-news">
                        <a href="../blog">{% trans 'see more news'%}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--TODO:Revisar el javascript de la forma y las redes sociales del proyecto...-->
    <footer class="footer-area relative sky-bg" id="contact-page">
        <div class="absolute footer-bg"></div>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                        <div class="section-title">
                            <h2>{% trans 'Contact Us' %}</h2>
                            <p>{% trans 'Want to help? We will be very delighted to hear from you! Use the following channels and have your say:' %}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <address class="side-icon-boxes">
                            <div class="side-icon-box">
                                <div class="side-icon">
                                    <img src="{% static 'smwebsite/images/location-arrow.png' %}" alt="">
                                </div>
                                <p>Universidad Católica "Nuestra Señora de la Asunción" Campus Universitario</p><p><strong>Address: </strong> Tte. Cantaluppi y G. Molinas <br/>Asunción, Paraguay</p>
                            </div>
                            <div class="side-icon-box">
                                <div class="side-icon">
                                    <img src="{% static 'smwebsite/images/phone-arrow.png' %}" alt="">
                                </div>
                                <p><strong>{% trans 'Telephone: ' %}</strong>
                                    +595 21334650 Int 101<br />
                                    <!--<a href="callto:8801687420471">+8801687420471</a>-->
                                </p>
                            </div>
                            <div class="side-icon-box">
                                <div class="side-icon">
                                    <img src="{% static 'smwebsite/images/mail-arrow.png' %}" alt="">
                                </div>
                                <p><strong>E-mail: </strong>
                                    <a href="smart-traffic@uc.edu.py<">smart-traffic@uc.edu.py</a> <br />
                                </p>
                            </div>
                        </address>
                    </div>
                    <!--Code for sending email-->
                    <!--<div class="col-xs-12 col-md-8">-->
                    <!--<form action="process.php" id="contact-form" method="post" class="contact-form">-->
                    <!--<div class="form-double">-->
                    <!--<input type="text" id="form-name" name="form-name" placeholder="Your name" class="form-control" required="required">-->
                    <!--<input type="email" id="form-email" name="form-email" class="form-control" placeholder="E-mail address" required="required">-->
                    <!--</div>-->
                    <!--<input type="text" id="form-subject" name="form-subject" class="form-control" placeholder="Message topic">-->
                    <!--<textarea name="message" id="form-message" name="form-message" rows="5" class="form-control" placeholder="Your message" required="required"></textarea>-->
                    <!--<button type="sibmit" class="button">Submit</button>-->
                    <!--</form>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--TODO: revisar las redes sociales-->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <ul class="social-menu text-right x-left">
                            <li><a href="https://www.facebook.com/smarttraffic.proyect/" target="_blank"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://twitter.com/smarttrafficpy" target="_blank"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/smarttrafficproject/" target="_blank"><i class="ti-instagram"></i></a></li>
                            <!--<li><a href="#"><i class="ti-linkedin"></i></a></li>-->
                            <!--<li><a href="#"><i class="ti-github"></i></a></li>-->
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>{% trans 'Or reach us on any of these social networks:' %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>&copy;Copyright 2018 All right reserved. This template is made with <i class="ti-heart" aria-hidden="true"></i> by Colorlib</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Vendor-JS-->
    <script src="{% static 'smwebsite/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'smwebsite/js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugin-JS-->
    <script src="{% static 'smwebsite/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'smwebsite/js/contact-form.js' %}"></script>
    <script src="{% static 'smwebsite/js/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'smwebsite/js/scrollUp.min.js' %}"></script>
    <script src="{% static 'smwebsite/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'smwebsite/js/wow.min.js' %}"></script>
    <!--Main-active-JS-->
    <script src="{% static 'smwebsite/js/main.js' %}"></script>
</body>

</html>
